@import "./global.scss";

.ConsiliereBtn {
  position: absolute;
  bottom: 3%;
  left: 37%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.EmailsBro-wrapper {
  position: absolute;
  right: 3%;
  top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1000px) {
    position: static;
  }
}
.consiliereText {
  h1 {
    max-width: 700px;
  }

  h2 {
    color: $Regular;
  }
  p {
    max-width: 500px;
  }
}
.consiliereSection {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    max-width: 600px;
  }
}

.consiliereIconMobile {
  display: none;
}

@media (max-width: 1000px) {
  .consiliereSection {
    flex-direction: column;
  }
  .consiliereIconMobile {
    display: flex;
    margin: 50px 0;
  }
  .consiliereIcon {
    display: none;
  }
  .ConsiliereBtn {
    position: static;
    margin: 40px 0 -120px 0;
  }
  .consiliereText {
    h1 {
      font-size: 25px;
    }
  }
}
