@import "./global.scss";

.contactContainer {
  position: relative;
  padding: 40px 60px;
  padding-bottom: 60px;
  width: 100%;
  max-width: 900px;
  background: $gradientLight;
  border-radius: 15px;
  margin-top: 8px;
  margin-bottom: -20px;
  color: $White;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contactForm {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .flowerPot {
    position: absolute;
    bottom: 45%;
    left: 15%;
    z-index: 3;
  }

  .roomLines {
    position: absolute;
    bottom: 44%;
    right: 14%;
    z-index: 2;
  }

  .psiChar {
    position: absolute;
    right: 15%;
    top: 9%;
    z-index: 3;
  }

  .contactBottomInfo {
    width: 700px;
    display: flex;
    justify-content: space-between;

    .contactText {
      color: $White;
    }
  }

  .contactNumber,
  .contactEmail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(360deg, #c865db 5.32%, #e3a8ed 120%);
    background: $gradientPinkTwo;
    background: linear-gradient(180deg, #dbafe3 5.32%, #e4beeb 120%);
    background: linear-gradient(180deg, #dfbae6 0%, #dd9de8 100%);
    background: linear-gradient(180deg, #ab41bf 5.32%, #d492de 100%);
    width: 320px;
    border-radius: 15px;
    padding: 45px 0;
    position: relative;
    -webkit-box-shadow: 5px 5px 19px -1px rgba(49, 6, 57, 0.4);
    box-shadow: 5px 5px 19px -1px rgba(49, 6, 57, 0.4);
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0;
  position: relative;
}

.form-content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-img {
  width: 20%;
  margin-left: 60px;
}

.form-content-right {
  margin-top: -40px;
  color: $White;
  padding: 50px 50px 20px 50px;
}

.form-img-2 {
  width: 44%;
  margin-top: 60px;
}

.close-btn {
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: underline;
}

.contact-section {
  max-width: 800px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form > h1 {
  color: $White;
  margin: 10px 0 20px 0;
  font-size: 21px;
  cursor: default;
}

.form-title {
  max-width: 340px;
  margin-bottom: 50px;
}

.form {
  width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $gradientPinkTwo;
  background: linear-gradient(180deg, #dbafe3 5.32%, #e4beeb 120%);
  background: linear-gradient(180deg, #ab41bf 5.32%, #d492de 100%);
  padding: 30px 50px 50px 50px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 19px -1px rgba(49, 6, 57, 0.4);
  box-shadow: 5px 5px 19px -1px rgba(49, 6, 57, 0.4);
}

.form-inputs {
  margin-top: 5px;
  margin-bottom: 0.5rem;
  width: 80%;
  max-width: 270px;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: flex;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: $White;
  align-self: flex-start;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
  background: #f4e1f5;
  color: $Black;
}

.form-input-message {
  display: block;
  padding: 5px;
  outline: none;
  border-radius: 2px;
  height: 80px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: $GreyDark;
  font-size: 12px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 30px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.4s ease-out;
  background: $PrimaryBtnGradient;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  max-width: 270px;
}

.form-input-btn:hover {
  filter: brightness(1.2);
}
