@import "./global.scss";

.contactContainer {
  position: relative;
  padding: 40px 60px;
  padding-bottom: 60px;
  width: 100%;
  max-width: 900px;
  background: $gradientLight;
  border-radius: 15px;
  margin-top: 8px;
  margin-bottom: -20px;
  color: $White;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contactForm {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .flowerPot {
    position: absolute;
    bottom: 45%;
    left: 15%;
    z-index: 3;
  }

  .roomLines {
    position: absolute;
    bottom: 42.5%;
    right: 14%;
    z-index: 2;
  }

  .psiChar {
    position: absolute;
    right: 15%;
    top: 9%;
    z-index: 3;
  }

  .contactBottomInfo {
    width: 700px;
    display: flex;
    justify-content: space-between;

    .contactText {
      color: $White;
    }
  }

  .contactNumber,
  .contactEmail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(360deg, #9b90ef 5.32%, #c1baf7 100%);
    width: 320px;
    border-radius: 15px;
    padding: 45px 0;
    position: relative;
    -webkit-box-shadow: 5px 5px 19px -1px rgba(49, 6, 57, 0.4);
    box-shadow: 5px 5px 19px -1px rgba(49, 6, 57, 0.4);
  }

  .contactNumber {
    margin-right: 20px;
  }

  #contactSau {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    color: #522e9f;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0;
  position: relative;
}

.form-content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-img {
  width: 20%;
  margin-left: 60px;
}

.form-content-right {
  margin-top: -40px;
  color: $White;
  padding: 50px 50px 20px 50px;
}

.form-img-2 {
  width: 44%;
  margin-top: 60px;
}

.close-btn {
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: underline;
}

.contact-section {
  max-width: 800px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form > h1 {
  color: $White;
  margin: 10px 0 20px 0;
  font-size: 21px;
  cursor: default;
}

.form-title {
  max-width: 340px;
  margin-bottom: 50px;
}

.form {
  width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(360deg, #9b90ef 5.32%, #c1baf7 100%);
  padding: 50px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 19px -1px rgba(49, 6, 57, 0.4);
  box-shadow: 5px 5px 19px -1px rgba(49, 6, 57, 0.4);
}

.form-inputs {
  margin-top: 5px;
  margin-bottom: 0.5rem;
  width: 80%;
  max-width: 270px;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: flex;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: $White;
  align-self: flex-start;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
  background: #edebf0;
  color: $Black;
}

.form-input-message {
  display: block;
  padding: 5px;
  outline: none;
  border-radius: 2px;
  height: 80px;
  width: 100%;
  border: none;
}

textarea {
  resize: none;
  background: #edebf0;
  color: $Black;
}

.form-input::placeholder {
  color: #edebf0;
  font-size: 12px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 30px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.4s ease-out;
  background: $PrimaryBtnGradient;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  max-width: 270px;
}

.form-input-btn:hover {
  filter: brightness(1.2);
}

.mobileContact {
  display: none;
}

@media (max-width: 1000px) {
  .contactContainer {
  }
  #contactSau {
    margin-bottom: 20px;
  }

  .desktopContact {
    display: none;
  }

  .form-input-btn {
    width: 100%;
    max-width: 300px;
  }

  .form > h1 {
    font-size: 26px;

    @media (max-width: 480px) {
      font-size: 24px;
      width: 90vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media (max-width: 400px) {
      font-size: 20px;
      width: 90vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media (max-width: 350px) {
      font-size: 18px;
      width: 90vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .mobileContact {
    display: block;
    z-index: 100;

    .form {
      width: 90vw;
      max-width: 600px;
      margin-top: -40px;
    }
  }
  .contactBottomInfo {
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contactNumber,
    .contactEmail {
      margin: 25px;
    }

    .contactNumber {
      margin-top: 0px;
    }

    .contactEmail {
      margin-bottom: -30px;
    }
  }
  .form-inputs {
    width: 100%;
    max-width: 300px;
  }
}

#sendMailContact {
  margin: -10px 0 -50px 0;
  @media (min-width: 1000px) {
    display: none;
  }
}
