.rectangle-wrapper {
  margin-top: 6px;
  position: relative;
  padding: 20px 20px 20px 20px;
  width: 100%;
  margin-bottom: 100px;

  .first-row {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    color: #776db4;
  }

  p {
    color: #f9effd;
  }
}

.elena-bgrmv-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-top: 0px;
    color: #776db4;
  }

  h4 {
    margin-top: -20px;
    color: #f9effd;
  }
}

.desk-lady-wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -190px;
  left: 110px;
}
