.left-side {
  align-items: flex-start;

  .resume-wrapper {
    margin-top: 135px;
    margin-left: -20px;
    position: relative;

    .talk-bubble {
      position: absolute;
      top: 15%;
      right: 29%;
      animation: rise 1s alternate infinite;
      z-index: 3;
    }

    .hat {
      position: absolute;
      top: -6%;
      left: 17%;
      animation: rise 1s alternate infinite;
      z-index: 2;
    }
  }
}

.rectangle-wrapper {
  position: relative;
  padding: 40px;
  width: 100%;
  max-width: 1000px;
  background: rgb(241, 239, 242);
  background: linear-gradient(
    180deg,
    rgba(241, 239, 242, 1) 0%,
    rgba(243, 241, 244, 1) 100%
  );
  border-radius: 15px;
  opacity: 0.9;
  margin-bottom: -20px;

  .elena-bgrmv-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      margin-top: 0px;
      color: #4b4187;
    }

    h4 {
      margin-top: -20px;
      color: #776db4;
    }
  }

  h1 {
    color: #4b4187;
  }

  p {
    color: #776db4;
  }
}

@keyframes rise {
  from {
    margin-top: 0;
  }

  to {
    margin-top: 7.5px;
  }
}
