@import "./global.scss";

.left-side {
  align-items: flex-start;

  .resume-wrapper {
    margin-top: 110px;
    position: relative;

    .talk-bubble {
      position: absolute;
      top: 15%;
      right: 34%;
      z-index: 3;
    }

    .hat {
      position: absolute;
      top: -5%;
      left: 14%;
      z-index: 2;
    }
  }
}

.rectangle-wrapper {
  position: relative;
  padding: 40px 60px;
  width: 100%;
  max-width: 900px;
  background: $gradientLight;
  border-radius: 15px;
  opacity: 0.9;
  margin-top: 8px;
  margin-bottom: -20px;
  color: $Dark;

  .elena-bgrmv-wrapper {
    position: absolute;
    right: 5%;
    top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      margin-top: 0px;
      color: $Dark;
    }

    h4 {
      margin-top: -20px;
      color: $Regular;
    }
  }

  h1 {
    color: $Regular;
  }
}
