//Main Pallette

$Dark: #6b36a3;
$Regular: #975cd6;
$Light: #ba85f2;
$Black: #1d0536;
$White: #ede6f5;
$GreyDark: #715d85;
$GreyRegular: #a691ba;
$GreyLight: #cab8db;
$MainGradient: linear-gradient(180deg, #a57ae6 5.32%, #b78ef5 100%);
$MainGradientReverse: linear-gradient(360deg, #a57ae6 5.32%, #b78ef5 100%);

$bgColor: linear-gradient(180deg, #f3ddf5 0%, #f1e6f2 100%);
$gradientHeader: linear-gradient(180deg, #f9dafe 0%, #dd9de8 100%);

$gradientLight: linear-gradient(180deg, #fbfafb 11.16%, #f7eef9 100%);

$gradientPinkTwo: linear-gradient(141.57deg, #ecbbf4 5.32%, #ca63dd 86.14%);

$PrimaryBtnGradient: linear-gradient(360deg, #6b36a3 0%, #9a63d4 100%);

html,
body {
  overflow-x: hidden;
  margin: 0;
  color: $White;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #ede7f6 0%, #d1c4e9 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

textarea {
  resize: none;
  background: #f4e1f5;
  color: $Black;
}

.rectangles ul {
  list-style-type: none;
  padding: 0px;

  li {
    margin-bottom: 10px;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $Light;
  opacity: 0.9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $Regular;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $Dark;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px $Light;
}

.container {
  width: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  margin-top: -22px;
  margin-right: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 380px;

  li {
    margin-bottom: 20px;
    margin-top: -10px;
    list-style-type: none;
    margin-left: -40px;
    cursor: pointer;
    color: $Regular;
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 0.5px;
    line-height: 47px;
    width: 300px;
    transition: 0.1s ease-in-out;

    &:hover {
      transition: 0.1s ease-in-out;
      filter: brightness(1.55);
      transform: perspective(500px) translate3d(10px, 0, 10px);
    }
    &:focus {
      outline: #776db4 auto 5px;
      outline-style: none;
    }

    &:active {
      transform: scale(0.9);
      transition: 0.1s ease-in-out;
    }
  }
}

.primary-btn {
  background: $PrimaryBtnGradient;
  color: $White;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  width: 248px;
  height: 60px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.primary-btn:hover {
  transition: 0.1s ease-in-out;
  filter: brightness(1.15);
}

.secondary-btn {
  background: linear-gradient(180deg, #faeefc 0%, #ded0e0 100%);

  color: $Dark;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  width: 248px;
  height: 60px;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.secondary-btn:hover {
  transition: 0.1s ease-in-out;
  filter: brightness(1.05);
}

.wave {
  margin-top: -40px;
  width: 100vw;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 150px;
  margin-top: -20px;
  overflow: hidden;
  position: relative;
  background: $MainGradientReverse;
}

.links {
  display: flex;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: $White;
  margin-top: 30px;
}

.links > a {
  margin: 0 25px 15px 0;
}

.links > a:hover {
  color: $Dark !important;
}

.rec-arrow {
  color: $White !important;
  background: $MainGradientReverse !important;
}

.rec-arrow-right {
  margin-left: 25px;
}

.rec-arrow-left {
  margin-right: 25px;
}

.rec-arrow:hover {
  filter: brightness(1.1) !important;
}

.rec-arrow:disabled {
  background: $GreyLight !important;
  color: $Dark !important;
}

.cJeRRR {
  background: $Regular !important;
  opacity: 0.8 !important;
  border: $Regular !important;
  box-shadow: 0 0 1px 3px $Dark !important;
}
