@import "./global.scss";

.pageSlide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $Regular;
  color: $White;
  width: 100%;
  background: $PrimaryBtnGradient;
  background: linear-gradient(360deg, #ab41bf 5.32%, #c579d1 120%);
  background: linear-gradient(360deg, #c865db 5.32%, #e3a8ed 120%);
  background: linear-gradient(180deg, #d5a4de 0%, #dd9de8 100%);
  background: linear-gradient(360deg, #ab41bf 5.32%, #d492de 100%);
  padding: 0 20px;
  border-radius: 15px;
  margin-bottom: 50px;

  ul {
    list-style-type: none;
    padding: 0px;
  }

  p {
    cursor: pointer;
    color: $White;
    font-size: 25px;
    transition: 0.1s ease-in-out;

    &:hover {
      filter: brightness(1.1);
    }
  }

  span {
    color: $White;
  }

  h3:hover {
    transition: 0.1s ease-in-out;
    transform: scale(1.05);
    filter: brightness(1.1);
  }
}
