@import "./global.scss";

.pageSlide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $Regular;
  color: $White;
  width: 100%;
  background: $MainGradientReverse;
  padding: 0 20px;
  border-radius: 15px;
  margin-bottom: 50px;

  ul {
    list-style-type: none;
    padding: 0px;
  }

  p {
    cursor: pointer;
    color: $White;
    font-size: 25px;
    transition: 0.1s ease-in-out;

    &:hover {
      filter: brightness(1.1);
    }
  }

  span {
    color: $White;
  }

  h3:hover {
    transition: 0.1s ease-in-out;
    transform: scale(1.05);
    filter: brightness(1.1);
  }
}

#topRightSwitchBar {
  margin-left: 240px;
}

#topLeftSwitchBar {
  margin-right: 240px;
}

@media (max-width: 1000px) {
  .pageSlide {
    margin: 0 auto;
  }

  .pageSlide.pageSlideBottom {
    margin-top: -38px !important;
    margin-bottom: 20px;
  }

  #topRightSwitchBar {
    margin-left: 70px;
  }

  #topLeftSwitchBar {
    margin-right: 70px;
  }

  #bottomRightSwitchBar {
    margin-left: 70px;
  }

  #bottomLeftSwitchBar {
    margin-right: 70px;
  }
}
