@import "./global.scss";

.header {
  width: 100vw;
  padding: 0 60px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $Dark;
  color: $White;
  font-weight: normal;
  background: $MainGradient;

  @media (max-width: 1000px) {
    margin-bottom: 40px;
  }

  @media (max-width: 500px) {
    margin-bottom: 10px;
  }

  @media (max-width: 600px) {
    padding: 5px 20px;
  }

  .headerMenu {
    display: block;
    font-size: 35px;
    cursor: pointer;
    @media (min-width: 1300px) {
      display: none;
    }
  }

  .headerContact {
    display: none;

    @media (min-width: 1300px) {
      display: block;
    }
  }

  .header h1,
  h3 {
    font-size: 16px;
  }

  h3 {
    font-weight: normal;
  }

  .header-title {
    font-size: 12px;
    color: $Dark;
    color: $White;
  }

  @media (max-width: 560px) {
    .header-title {
      font-size: 10px;
    }
  }

  @media (max-width: 400px) {
    .header-title {
      font-size: 7px;
    }
  }

  .left-header {
    height: 80%;
    display: flex;
    align-items: center;

    #MobileLogo {
      display: none;
    }

    @media (max-width: 1000px) {
      #cabinetHeader {
        display: none;
      }
    }

    @media (max-width: 650px) {
      #MobileLogo {
        display: contents;
      }
    }
  }

  .logo {
    margin-right: 20px;
    margin-top: 8px;
    position: relative;

    .shape {
      position: absolute;
      top: 12.28px;
      right: 11px;
      animation: fit 2s alternate infinite;
    }
  }
  @media (max-width: 650px) {
    .logo {
      display: none;
    }
  }
}

@keyframes fit {
  0% {
    margin-top: 0;
    margin-right: 0;
  }

  50% {
    margin-top: 0;
    margin-right: 0;
    transform: scale(1);
    opacity: 1;
  }

  100% {
    margin-top: -10px;
    margin-right: -10px;
    transform: scale(1.16);
    opacity: 0;
  }
}
