.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header h1,
  h3 {
    font-size: 16px;
    font-weight: lighter;
  }

  .header-title {
    font-size: 12px;
    color: #776db4;
  }

  .left-header {
    height: 80%;
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 10px;
  }
}
