@import "./global.scss";

.main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 75px;

  .main-title-container {
    display: flex;
    align-items: center;
    font-size: 28px;
    cursor: default;
    position: relative;
    background: $gradientLight;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    opacity: 0.9;
    padding: 25px 25px 25px 45px;
    height: 360px;

    .main-title {
      margin-top: -35px;
      flex-direction: column;
      color: $Regular;
      width: 550px;
    }

    .underline {
      position: absolute;
      bottom: 125px;
    }

    .primary-btn-wrapper {
      margin-top: 50px;
    }

    .elena-wrapper {
      position: relative;
      cursor: default;
      padding: 0 0 30px 0;
    }
    .psiholog-elena {
      position: absolute;
      background: $gradientHeader;
      background: linear-gradient(180deg, #c057d4 5.32%, #e09deb 120%);
      border-top-left-radius: 25px;
      border-bottom-right-radius: 15px;
      padding: 0px 15px 8px 90px;
      height: 50px;
      bottom: 40px;
      left: -34px;
      color: $Dark;
      color: $White;
      font-weight: 600;
      font-size: 16px;
      width: 345px;
    }
  }
}

.line-wrap {
  animation: swing 1s alternate infinite;
  margin-bottom: -20px;
}

.section-testimony {
  width: 80%;
  margin: 100px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

@keyframes swing {
  from {
    transform: rotate(2deg);
  }

  to {
    transform: rotate(-2deg);
  }
}
