.main {
  margin: 75px 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  .main-title-container {
    display: flex;
    align-items: center;
    font-size: 28px;
    cursor: default;
    position: relative;
    background: rgb(241, 239, 242);
    background: linear-gradient(
      180deg,
      rgba(241, 239, 242, 1) 0%,
      rgba(243, 241, 244, 1) 100%
    );
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    opacity: 0.9;
    padding: 25px 25px 25px 45px;
    height: 390px;

    .main-title {
      margin-top: -5px;
      flex-direction: column;
      color: #776db4;
      width: 550px;
    }

    .underline {
      position: absolute;
      bottom: 125px;
    }

    .primary-btn-wrapper {
      margin-top: 50px;
    }

    .elena-wrapper {
      position: relative;
      cursor: default;
    }
    .psiholog-elena {
      position: absolute;
      background: #776db4;
      border-top-left-radius: 25px;
      border-bottom-right-radius: 15px;
      padding: 0px 15px 8px 35px;
      height: 50px;
      bottom: 11px;
      left: 25px;
      color: #eee8f2;
      font-size: 16px;
      width: 100%;
    }
  }
}

li {
  margin-bottom: 10px;
  list-style-type: none;
  margin-left: -40px;
}
button {
  padding: 10px 5px;
  border-radius: 15px;
  cursor: pointer;
  color: #4b4187;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 27px;
  width: 300px;
  border: none;
  transition: 0.1s ease-in-out;
  background: linear-gradient(180deg, #cdacf1 0%, #b494d6 100%);
  background: rgb(241, 239, 242);
  background: linear-gradient(
    180deg,
    rgba(241, 239, 242, 1) 0%,
    rgba(243, 241, 244, 1) 100%
  );

  &:hover {
    transition: 0.1s ease-in-out;
    filter: brightness(1.05);
  }
  &:focus {
    outline: #776db4 auto 5px;
    outline-style: none;
  }
}

.line-wrap {
  animation: swing 1s alternate infinite;
  margin-bottom: -10px;
}

.section-testimony {
  width: 80%;
  margin: 100px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

@keyframes swing {
  from {
    transform: rotate(2deg);
  }

  to {
    transform: rotate(-2deg);
  }
}
