.main {
  margin-top: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .main-title-container {
    max-width: 500px;
    font-size: 28px;
    cursor: default;
    position: relative;

    .main-title {
      margin-top: -5px;
    }

    .underline {
      position: absolute;
      bottom: 75px;
    }

    .primary-btn-wrapper {
      margin-top: 50px;
    }
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
    margin-left: -40px;
  }
  button {
    padding: 10px 5px;
    border-radius: 25px;
    cursor: pointer;
    color: #776db4;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 27px;
    width: 300px;
    border: none;
    transition: 0.1s ease-in-out;
    background: linear-gradient(180deg, #cdacf1 0%, #b494d6 100%);
    background: rgb(241, 239, 242);
    background: linear-gradient(
      180deg,
      rgba(241, 239, 242, 1) 0%,
      rgba(243, 241, 244, 1) 100%
    );

    &:hover {
      transition: 0.1s ease-in-out;
      filter: brightness(1.05);
    }
    &:focus {
      outline: #776db4 auto 5px;
      outline-style: none;
    }
  }

  .elena-wrapper {
    position: relative;
    cursor: default;
  }
  .psiholog-elena {
    position: absolute;
    bottom: 15px;
    left: 67px;
    color: #776db4;
  }
}
.line-wrap {
  animation: swing 1s alternate infinite;
  margin-bottom: -10px;
}

.section-testimony {
  width: 80%;
  margin: 100px -50px;
  display: flex;
  justify-content: space-between;
}

@keyframes swing {
  from {
    transform: rotate(2deg);
  }

  to {
    transform: rotate(-2deg);
  }
}
