@import "./global.scss";

.rectangles {
  display: flex;
  flex-direction: column;
  margin-bottom: -50px;

  .rectangle-wrapper {
    display: flex;
    margin-bottom: 100px;
    margin-top: 8px;
    padding: 20px 20px 50px 20px;
    height: 500px;
  }

  .imgSideLeft,
  .imgSideRight {
    margin: auto 0;
  }

  .imgSideLeft {
  }

  .imgSideRight {
    margin-right: 20px;
  }

  .textSideLeft {
  }

  .textSideRight,
  .textSideLeft {
    width: 600px;
    width: 100%;
    padding: 0 20px;
    margin: 0;

    li {
      color: $Dark;
    }
  }
  .infoBtn {
    position: absolute;
    bottom: 40px;
    left: 37%;
    color: #fff !important;
  }
}
