@import "./global.scss";

.testimony-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 25px 15px 25px;
  height: 300px;
  background: $gradientLight;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 5px 15px;
  opacity: 0.9;
  cursor: grab;

  .testimony {
    margin: auto 0;
  }

  .name {
    font-weight: bold;
    font-size: 19px;
    line-height: 28px;
    color: $Dark;
  }

  .voted {
    color: $Light;
    opacity: 0.8;
    margin-top: -20px;
    font-size: 12px;
  }

  .text {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    max-width: 300px;
    color: $Regular;
    margin: 7px 0 5px 0;
  }

  .quotes-right {
    display: flex;
    justify-content: flex-end;
  }
}
